body {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    align-content: flex-start;
    flex-grow: 0;
    padding: 0;

    background-color: #EEE;
}

.square {
    background-color: white;
    margin: 1px;
}