body {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    align-content: flex-start;
    flex-grow: 0;
}

.square {
    background-color: black;
    /* height and width = widthOfContainer / amountOfSquares - (2 * margin) */
    margin: 1px;
}