body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1em;
}

#container {
    width: 600px;
    height: 600px;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;

    background-color: #EEE;
}

.square {
    background-color: white;
    margin: 1px;
}